*{
    margin: 0;
    padding: 0;

    
}
.yourskill {
    background-color: rgb(180, 178, 178);
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 154, 154);
    position: sticky;
    top: 0;

}
.skill{
    text-align: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 20px;
   text-align: center;
}
.navbar ul li a:hover{
    background-color: rgb(233, 224, 224);
    color: black;
    border-radius: 50%;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0,0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color:white;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.heading{
    font-family: century;
    font-size: 3rem;
    text-align:center;
    margin: 40px 0px;
}
.all{
    background-color: #ccc;
}
#about{
    display: flex;
    background-color: #ccc;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#contact{
    background-color: #ccc;
}
#pic{
    display: flex;
}
#pic img{
    width: 90%;
    height: 100%;
    border-radius: 50%;

}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#home{
    background-image: url("pexels-karolina-grabowska-5208871.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.profile{
    border-radius: 50%;

}
.handle{
    text-align: center;
}
h2{
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;;
  }
#intro img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
  }
.handle img{

    width: 5%;
    height: 5%;
  }
.handle a img:hover{
    transform: scaleX(-1);
    transition: 0.6s;
  }
  .myskill{
    display: flex;
  }
.skilled img{
    width: 10%;
    height: 40%;
    border-radius: 20%;
}
.skill img{
    width: 20%;
    height: 40%;
    border-radius: 20%;
}
#skills{
    background-color: #ccc;
}
#image{
    width: 20%;
    height: 20%;
}
.skill{
    border: rgba(0, 0,0, 0.5);
}
.skill img:hover{
    background-color: rgb(149, 144, 144);
    box-shadow: 0 2px 2px;
    transform: translateY(-5.9%);
    transition: 0.2s;
    box-shadow: 20px;
}

@media screen and (max-width:798px){
    ul,.handle,#about{
        display: flex;
        flex-direction: column;
        padding: 5 px;
    }
}